.content {
}

.navbar{
	height: 23vh;
	background: #FFFFFF;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
}

.navbar-image{
	background-image: url(https://pic.downk.cc/item/5ea45600c2a9a83be512d458.jpg);
	background-size: cover;
	height: 18vh;
	width: 100%;
	z-index: 10000;
	border-radius: 50% / 0 0 8% 8%;
	position: absolute;
}

.content-body{
	padding: 0 20rpx;
	margin-top: 23vh;
}

.timeline-item {
	width: 100%;
	height: 100%;
	display: flex;
}

.timeline-date {
	position: relative;
	width: 10%;
}

.timeline-datetime {
	width: 120%;
	position: absolute;
	margin-top: 12rpx;
	right: -25rpx;
	color: #999999;
}

.timeline-datetime>.year{
	font-size: 20rpx;
	color: #606266;
	text-align: center;
}
.timeline-datetime>.date{
	font-size: 30rpx;
	color: #303133;
	text-align: center;
}

.timeline-content {
	width: 90%
}

.timeline-body {
	/* min-height: 300rpx; */
	border-radius: 10rpx;
	width: 84%;
	margin-left: 100rpx;
	/* margin-top: 60rpx; */
	padding-right: 10rpx;
	position: relative;
}

.timeline-body::after {
	content: '';
	top: 26rpx;
	border-left: #c6c6c6 1px solid;
	left: -44rpx;
	height: calc(100% + 30rpx);
	position: absolute;
}

.timeline-body::before {
	content: "\e507";
	color: #000000;
	position: absolute;
	left: -54rpx;
	top: 10rpx;
	font-weight: bold;
	font-family: "iconfont" !important;
	font-size: 20rpx;
	font-style: normal;
}

@font-face {font-family: "iconfont";
  src: url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKUAAsAAAAABkwAAAJKAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApMaAE2AiQDCAsGAAQgBYRtBzsbmQXILrBt2JMirTvMsOFjFTYZE+gGQoiWLbO3962DqlXiuy5VoenC4LAoEBLlMB6PwjXNfWu/xbwS5/Xz+BNmSSydzt75HnPzraEVjzxC1VKhUSE0eoJnCFT/D7x69YBLEalXtgYDrqm/AhpIHtBcIoKiWiMBBzYdYFTRyDahGW8Yu8AlHCfQMEUzsL+2sy/GZda4QDyksS/Gcx5ZZvGaUKlZmsWrUi09py/CS/j9+OLEOElZsIqOrlYjsfAJO6mn/zNx6RO8BLS6RIENQibOaiMHhgSjD2lEhs0R+8oPPoFvFns1CPbXWbktMAGF9yRyxbeam0COuweEmVHXklqV+5/stwf/0Xai0Z/mPfcGfxvs2Tyf70nTIXGPbgb7tM36WTGVXgSC78vbF3fOv/FmBh9mhvqsn43afqzB/xD1bMq6xDKlrIpqbclg1NiEhgb+YcfA31jt2MkToWbsFmxVkykKNQukTNtAqWkTFTVbaFi3vrppiAyJXMeaa4DQ84qk4x2Fnm9Spv2iNO4fFb0YQsNFsGXTUqSTEfqMEQR9SENVScfCk1H+LsbtwqesJGQcIjWpH2zDKsbXsUKaY0bTiR1mCZJUCWvgNCwKBTWpDEM2Eua6ZZqy7k1GqEoxaQ9BPoYiINAHUiGlIv3ObLL0+V0o1lbwUUtZjfsQIo20d2AzWD1I68qqV9m9vNLoiDkYk4BElBJYA4NQoaCAun5QBoWYIRkRqrWYdjvZV2msry4/oIBVYelS2CWF/mPbr07dfjphpIeq7gsB') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuanquan-red-copy:before {
  content: "\e507";
}



.timeline-body>.title {
	font-size: 30rpx;
	color:  #606266;
}

.timeline-body>.note {
	font-size: 24rpx;
	color: #909399;
	padding: 16rpx 0;
}

.timeline-body>.picture {
	display: flex;
	margin-bottom: 30rpx;
}

.timeline-body>.picture>view {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 130rpx;
	width: 130rpx;
	margin-right: 14rpx;
	border-radius: 20rpx;
}
