.nav-bar{
	display: flex;
	align-items: center;
	padding: 0 80rpx 0 30rpx;
}

.content{
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	z-index: 0;
	overflow: hidden;
}

.gloabstyle{
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
}

.gloabstyle:before{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-image: inherit;
	filter: blur(10px);
	z-index: 0;
}

.gloabstyle::after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(255,255,255, 0.6);
	z-index: 0;
}



.content-body{
	flex: 1;
	z-index: 100;
	padding: 0 30rpx;
	box-sizing: border-box;
}

.content-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40rpx 0;
}

.content-title>text{
	font-size: 60rpx;
	font-weight: 600;
}

.u-hairline-border::after{
	border: 0 !important;
}

.content-input>view{
	padding: 26rpx 0;
	display: flex;
	flex-direction:column-reverse;
}

.content-input>view>textarea{
	border-bottom: 2rpx solid rgba(223, 230, 233,1.0);
	width: 100%;
	padding: 16rpx 0;
}

.content-input .title{
	font-size: 24rpx;
	color: #909399;
}


/* 输入框 */
.content-input>view>input{
	border-bottom: 2rpx solid rgba(223, 230, 233,1.0);
	height: 80rpx;
	font-size: 40rpx;
}

.content-input>view>input:hover,.content-input>view>textarea:hover{
	border-bottom: 2rpx solid rgba(249, 202, 36,1.0);
}

.content-input>view>input:hover+.title,.content-input>view>textarea:hover+.title{
	color: rgba(249, 202, 36,1.0) !important;
}

/* 日期框 */
.content-input .input-date{
	color: #000000;
	font-size: 40rpx;
	padding: 10rpx 0;
	border-bottom: 2rpx solid rgba(223, 230, 233,1.0);
}

.content-input .input-date:hover{
	color: #000000;
	border-bottom: 2rpx solid rgba(249, 202, 36,1.0);
}

.input-date:hover + .title{
	color: rgba(249, 202, 36,1.0) !important;
}

/* 底部预览区域 */
.content-bottom{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content-bottom>.preview-card{
	background: rgba(249, 202, 36,1.0);
	border-radius: 20rpx;
	display: flex;
	padding: 30rpx 20rpx ;
	width: 100%;
	margin: 20rpx 0;
	display: flex;
	justify-content: space-between;
}

.preview-card>.card-content{
	display: flex;
	flex-direction: column;
}

.preview-card>.card-content>view:nth-child(1){
	font-size: 40rpx;
	font-weight: bold;
	 word-break:break-all;
}

.preview-card>.card-content>text:nth-child(2){
	font-size: 24rpx;
	font-weight: 800;
	margin-top: 10rpx;
	color: #606266;
}

.preview-card>.card-number{
	font-style: italic;
	font-size: 60rpx;
	font-weight: 800;
	display: flex;
	align-items: center;
	padding-right: 8rpx;
}

/* 底部选择图片按钮 */
.content-bottom>.bottom-button{
	width: 220rpx;
	margin-top: 60rpx;
}


checkbox .wx-checkbox-input{
    border-radius:50%;
    width:20px;height:20px;
}

checkbox .wx-checkbox-input.wx-checkbox-input-checked{
    border-color:#f9ca24 !important;
    background:#f9ca24 !important;
}

checkbox .wx-checkbox-input.wx-checkbox-input-checked::before{
    border-radius:50%;
    width:20px;
    height:20px;
    line-height: 20px;
    text-align:center;
    font-size:15px;
    color:#fff;
    background:transparent;
	transform: scale(-50%, -50%);
	transition: all 0.3s ease-in-out 0s;
}
